body {
    background-color: lightgray;
}

.block-white {
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}
.title-filter {
    font-size: 20px;
}
.text-filter {
    font-size: 14px;
}

.btn-select {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    height: 37px;
    width: 285px;
}
.btn-select:hover {
    background-color: #F4F4F4;
}
.icon-select {
    margin-left: 10px;
}

.modal-search {
    display: none;
    max-height: 150px;
    overflow-y: scroll;
    margin-top: 40px;
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    max-width: 283px;
}
.input-search {
    padding: 0.5rem 1rem;
    border: none;
    width: 251px;
}
.input-search:focus {
    border: none;
}
.resultat {
    padding: 0.5rem 1rem;
    display: block;
    font-size: 17px;
}
.resultat:hover {
    background-color: #F4F4F4;
}
.resultat:first-child {
    border-top: 1px solid lightgray;
}

.block-inputs {
    display: flex;
}

.div-input-campagne {
    display: flex;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 1rem;
    padding: 0 1rem;
    height: 35px;
    width: 300px;
}
.input-campagne {
    border: none;
    width: 100%;
}
input {
    outline:  none;
}
.icon-search {
    margin: auto 5px auto 0;
}

.btn-appliquer {
    margin-left: auto;
    transition: 0.4s;
    color: #3ab7a9;
    background-color: white;
    border: 1.5px solid #3ab7a9;
    border-radius: 50px;
    padding: 0.2rem 1rem;
    height: 37px;
}

.btn-appliquer:hover {
    transition: 0.4s;
    color: white;
    background-color: #3ab7a9;
}

@media screen and (max-width: 1010px) {
    .block-inputs {
        display: block;
    }

    .modal-search {
        margin-top: 5px;
    }

    .div-input-campagne {
        margin: 1.5rem 0;
        max-width: 266px;
    }
}


@media screen and (max-width: 377px) {
    .btn-appliquer {
        padding: 0.2rem 1rem;
        height: 50px;
    }
}
